@model Dio_Bank_MVC.Models.Transferencia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transferencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTransferencia" />
            <div class="form-group">
                <label asp-for="Agencia" class="control-label"></label>
                <input asp-for="Agencia" class="form-control" />
                <span asp-validation-for="Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conta" class="control-label"></label>
                <input asp-for="Conta" class="form-control" />
                <span asp-validation-for="Conta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DigitoVerificador" class="control-label"></label>
                <input asp-for="DigitoVerificador" class="form-control" />
                <span asp-validation-for="DigitoVerificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoConta" class="control-label"></label>
                <input asp-for="TipoConta" class="form-control" />
                <span asp-validation-for="TipoConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RepetirProximosMeses" /> @Html.DisplayNameFor(model => model.RepetirProximosMeses)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
